.drink-details-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.drink-details-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}

.drink-details-title {
  font-size: 1.5em;
}

.drink-details-subtitle {
  font-size: 1.2em;
}

.drink-ingredients-list {
  list-style: none;
  padding: 0;
}

.drink-ingredients-list li {
  margin-bottom: 8px;
}

.drink-details-instructions {
  font-size: 1.1em;
}
