<section class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

  <div class="page-title w-72">
    <h2 class="text-2xl font-bold text-gray-900">Drinks</h2>
    <p class="mt-6 text-base leading-7 text-gray-600">Uncover a world of flavor in our site, where each click opens the door to a unique beverage experience.</p>
  </div>

  @for (drink of drinks; track drink.idDrink) {
    <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
      <a [routerLink]="['/drink', drink.idDrink]">
        <img [src]="drink.strDrinkThumb" alt="{{ drink.strDrink }}" class="h-80 w-72 object-cover rounded-t-xl"/>
        <div class="px-4 py-3 w-72">
          <p class="font-bold truncate block capitalize">{{ drink.strDrink }}</p>
        </div>
      </a>
    </div>
  } @empty {
    <div>There is not any drinks available!</div>
  }
</section>
